body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #E4E4E4;
}

/* Navigation Bar */

#nav-bar {
    width: 100%;
    background-color: #000E3C;
    height: 80px;
    position: fixed;
    z-index: 10;
}

.nav {
    display: inline-block;
    margin-top: 1%;
}

#search {
    width: 40px;
    margin-left: 3%;
}

#logo {
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin-left: 10%;
    cursor: pointer;
}

.nav.sections {
    margin-left: 4%;
    color: white;
    cursor: pointer;
}

#sign {
    margin-left: 24%;
}

.user {
    margin-left: 3%;
    color: #575757;
    cursor: pointer;
}

#menu {
    height: 67px;
    position: absolute;
    left: 2%;
    top: 105%;
    visibility: hidden;
}

#tier {
    visibility: hidden;
}


/* Today's Date */

#current-date {
    position: absolute;
    top: 16%;
    left: 10%;
    font-size: 14px;
    color: #575757;
}

/* Slides */

#slides .featured .featured-img {
    display: block;
    width: 100%;
    height: auto;
}

#slides {
    width: 50%;
    position: absolute;
    top: 20%;
    left: 10%;
    cursor: pointer;
}

.text-container {
    background-color: white;
    padding: 20px 30px;
    line-height: 1.5;
}

.date {
    color: #53585F;
    font-size: 12px;
}

.title {
    font-weight: bold;
    font-size: 36px;
}

.blurb {
    font-size: 14px;
}

.arrow {
    position: absolute;
    width: 4%;
    top: 32%;
}

#right-arrow {
    right: 1%;
}

#left-arrow {
    left: 1%;
}

/* Graph and Advertisement */

#graph-img {
    width: 100%;
}

#ad {
    background-color: #320914;
    height: 100%;
    margin-top: 6%;
}

#ad-text {
    color: #C6C6C6;
    font-size: 14px;
    padding: 2% 4%;
}

#side-container {
    top: 20%;
    width: 28%;
    right: 10%;
    position: absolute;
    height: 46%;
}

/* Articles */

.article {
    width: 28%;
    background-color: white;
    display: inline-block;
    margin-right: 2%;
    cursor: pointer;
}

.article-img {
    display: block;
    width: 100%;
}

#article-container {
    top: 107%;
    position: absolute;
    left: 10%;
    margin-bottom: 5%;
}

.article-title {
    font-weight: bold;
    font-size: 26px;
}

.article-blurb {
    font-size: 14px;
}

.article-text {
    line-height: 1.5;
    padding: 15px 25px;
}

#row2 {
    margin-top: 2%;
}

/* Market */

#market-title {
    color: #53585F;
    font-weight: bold;
    font-size: 36px;
    line-height: 3;
}

.table {
    width: 28%;
    margin-right: 2%;
}


/* Media Queries */

/* iPads */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    #ad {
        height: 88%;
    }

    #article-container {
        top: 88%;
    }

    #sign {
        margin-left: 7%;
    }

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    #current-date {
        top: 8%;
    }

    #slides {
        width: 80%;
        top: 10%;
    }

    #sign {
        margin-left: 5%;
    }

    #ad {
        width: 108%;
        height: 100%;
        top: -10%;
        position: absolute;
        margin-left: 108%;
    }

    #side-container {
        top: 62%;
        width: 37%;
        height: 16%;
        left: 10%;
    }

    #article-container {
        top: 80%;
    }

}

/* iPhones (iPhone 6 tested only) */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    #sign {
        margin-left: 5%;
    }

    #article-container {
        top: 121%;
    }

    #side-container {
        height: 63%;
    }

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    #menu {
        visibility: visible;
        z-index: 1;
    } 

    #tier {
        visibility: visible;
        background-color: rgba(0,0,0,0.7);
        height: 89px;
        position: absolute;
        width: 100%;
        top: 99%;
        z-index: -1;
    }

    .nav.sections {
        font-size: 30px;
        display: block;
        background: rgba(0,0,0,0.7);
        margin-top: 0.1%;
        padding: 3%;
        margin-left: 0%;
        display: none;
    }

    #research {
        margin-top: 10.4%;
    }

    #log {
        right: 4%;
    }

    #sign {
        margin-left: 0%;
        right: 18%;
    }

    #nav-bar {
        height: 125px;
    }

    .user {
        color: white;
        font-size: 30px;
        padding-left: 4%;
        margin-left: 2%;
        z-index: 1;
        position: absolute;
        top: 92%;
    }

    .nav {
        margin-top: 3%;
    }

    #logo {
        font-size: 60px;
        margin-left: 2%;
    }

    #slides {
        width: 100%;
        left: 0;
        top: 7%;
    }

    .blurb {
        font-size: 12px;
    }

    #ad {
        width: 121%;
        height: 97%;
        top: -10%;
        position: absolute;
        margin-left: 108%;
    }

    .text-container {
        padding: 30px 40px;
    }

    #side-container {
        top: 69%;
        width: 41%;
        height: 16%;
        left: 3%;
    }

    .article {
        width: 90%;
        margin-bottom: 4%;
        display: block;
    }

    #article-container {
        top: 98%;
    }

    .article-blurb {
        font-size: 30px;
    }

    .article-title {
        font-size: 50px;
    }

    .date {
        font-size: 25px;
    }

    .title {
        font-size: 60px;
    }

    .blurb {
        font-size: 30px;
    }

    .arrow {
        width: 7%;
    }

    #side-container {
        top: 80%;
    }

    #ad-text {
        font-size: 30px;
    }

    .article-text {
        padding: 25px 35px;
    }

    #market-title {
        line-height: 2;
        font-size: 60px;
    }

    .table {
        width: 90%;
        margin-right: 0;
        margin-top: 3%;
        margin-bottom: 1%;
    }

}
